canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

body {
  background-color: rgb(36, 41, 46);
  font-size: 40pt;
  text-align: center;
	z-index: 0;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(150, 188, 230);
}

.header {
	font-size: 50pt;
}

.list {
	/* padding: 10px; */
	/* line-height: 120%; */
	font-size: 40px;
	/* width: 400px; */
	/* display: inline-block; */
	/* text-align: justify; */
}

/* .left { */
	/* color: #00FF00; */
	/* margin: 0 auto; */
	/* float:left; */
/* } */

/* .right { */
	/* color: #FF0000; */
	
	/* float:right; */
/* } */