body {
    background-color: #073642;
    text-align: center;
    color: white;
    font-size: 50pt;
    /* user-select: none; */
}

#progress {
    position: absolute;
    bottom: 0px;
    width: 99%; /* because 100% adds a horizontal scroll bar and you need this */
}