body {
    background-color: #073642;
    text-align: center;
    color: white;
    font-size: 40pt;
    user-select: none;
}

a {
    color:white
}

#progress {
    position: absolute;
    bottom: 0px;
    width: 99%;
    /* 100% doesn't work, as it adds a scroll bar at the bottom of the page */
}

input[type=checkbox] {
    transform: scale(2);
}